.textchange {
    opacity: 1;
    transition: opacity 0.2s linear;
}
  
.textchange.fadeOut {
    opacity: 0 !important;
}

#whoami {
    background-image: url('/assets/Cat_and_laptop.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
}