@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 599px) {

    #siamese, .bubble, .nicktitle {
        display: none;
    }

    footer {
        margin-bottom: 20vh;
    }
}

@media only screen and (min-width: 600px) {

    .mobile {
        opacity: 0;
    }

    header {
        height: 100vh !important;
        background: url('/assets/bg.png');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    #siamese {
        width: 50vw;
        height: 350px;
        background: url('/assets/siamese.png');
        position: fixed;
        bottom: 0;
        left: 50vh;
        background-repeat: no-repeat;
    }

    .bubble {
        position: fixed;
        left: 47.5%;
        filter:  drop-shadow(1px 1px 1px black);
        font-family: 'Bangers', cursive;
        font-size: 2rem;
        line-height: 24px;
        width: 300px;
        background: #fff;
        border-radius: 40px;
        padding: 24px;
        text-align: center;
        color: #000;
    }
    
    .bubble-bottom-left:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 24px solid #fff;
        border-right: 12px solid transparent;
        border-top: 12px solid #fff;
        border-bottom: 20px solid transparent;
        left: 32px;
        bottom: -24px;
    }

    .nicktitle {
        white-space: nowrap;
        font-size: 25em;
        background-position: left bottom;
        background-clip: text;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,.33);
        overflow: hidden;
    }

    header {
        height: 80vh;
        position: relative;
    }
}



nav {
    position: fixed;
    background: rgba(255,255,255,.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    bottom: 0;
    z-index: 10;
    padding: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
}
